:root {
 
    --primary-text-color: #FFFFFF;
 --title-text-color: #212121;
 --accent-color: #2196F3;
 --small-text-color: #757575;
--background-color: #2F303A;



}

body{
    color: var(--title-text-color);
    background-color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;

}

address {
font-style: inherit;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    padding: 0;
        margin: 0;

    list-style: none;

}

p {
    margin: 0;
}

.section-title {
    margin-top: 0px;
margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 
}

.section {

    padding-top: 94px;
    padding-bottom: 94px;

}

.link {
    text-decoration: none;

}

.card-set {
    display: flex;
    flex-wrap:wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.card-item {
    margin-left: 30px;
    margin-top: 30px;
}


.logo {
   color: var(--accent-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;

    
}

.header .logo {
    margin-right: 93px;
}




.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}




.container {
margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    

}

.main-container {
    display: flex;
   align-items: center;
}









.accent{
  color: #000000;  
}



.header {
    background-color: var(--primary-text-color);
    border-bottom: 1px solid #ECECEC;
}

.current {
    color: var(--accent-color);
}

/* site-nav */
.nav-link,
.contact-link {
color: var(--title-text-color);

font-weight: 500;
     
        line-height: 1.15;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
 

        padding-top: 32px;
        padding-bottom: 32px;
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
    fill: #2196F3;
}


/* контакт-нав */
.contact-link
{

    color: var(--small-text-color);
    
        
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer .contact-link:hover,
.footer .contact-link:focus,
.current {
color: var(--accent-color);
}

.footer {
 
    padding-top: 60px;
    padding-bottom: 60px;
  
}
/* снизу вроде убрать */




.section-third {
    color: var(--title-text-color);
background-color: #F5F4FA;



}




.hero {
    background-color: var(--background-color);
    padding: 200px 0;
    text-align: center;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/bcgimg1.jpg);
background-position: center;
max-width: 1600px;
margin: auto;


}

.hero-title {

    margin-top: 0;
    margin-bottom: 30px;
  
font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        margin: auto;
        margin-bottom: 30px;

        max-width: 696px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    color: var(--primary-text-color);


 
}
 


/* features */
.feature-title {
 
    margin-top: 0px;
margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}
.feature-text {
    color: var(--small-text-color);

 


}

/* кнопка */
.button {
        font-weight: 700;
            font-size: 16px;
            line-height: 30px;
color: var(--primary-text-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    padding: 10px 32px;
letter-spacing: 0.06em;
    cursor: pointer;
   
 border:none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}
.portfolio-button {

    color: var(--title-text-color);
        background-color: #F5F4FA;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        border-radius: 4px;

        padding: 6px 22px;
      cursor: pointer;
      border:none
}


 

.button-item {
    margin-right: 8px;
}

.button-item:last-child {
    margin-right: 0;
}






.portfolio-button:hover{
        color: var(--primary-text-color);
            background-color: var(--accent-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio-button:focus{
        color: var(--primary-text-color);
            background-color: var(--accent-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-title {
 color: var(--title-text-color);
font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
margin-top: 0px;

margin-bottom: 4px;


}
.portfolio-text {
    color: var(--small-text-color);
    margin-top: 0px;
    
   
}

.workers-names
{
font-size: 16px;
font-weight: 500;

    line-height: 1.18;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 10;

}

.workers-text {
 color: var(--small-text-color);
        font-size: 16px;
        line-height: 1.18;  
        text-align: center;

        margin-top: 0px;
        margin-bottom: 16px;
}

.footer {
    background-color: var(--background-color);
  
}

.footer-nav-adress {
    color: var(--primary-text-color);
    font-style: normal;
}



.currently-active {
    color: var(--primary-text-color);
        background-color: var(--accent-color)
}

.footer .logo .accent {
    color: var(--primary-text-color);
}


.footer .contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-style: normal;
}




.picture-list {
 width: calc(100% / 3 - 30px);
 
}










.adress-link {
    color: rgba(255, 255, 255, 0.6);
}

.adress-link[target="_blank"] {color: #FFFFFF;}

.adress-link:hover, 
.adress-link:focus {
    color: #2196F3;
}


.site-nav {
    display: flex;

 
}

.site-nav .item {

    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}


   




.contact-nav .item {
    margin-right: 50px;
}

.contact-nav .item:last-child {
    margin-right: 0px;
}


.hide {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.main-nav {
    display: flex;
    align-items: center;
}





.feature-list .item {
    width: calc(100% / 4 - 30px);
 
}







.section-second {
padding-top: 0px;
   
}



.wrap-element {

width: calc(100% / 3 - 30px);

}







.workers-item {
 width: calc(100% / 4 - 30px);
    background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);




border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;

}








.list-button {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.portfolio-description {
    padding: 24px 24px;
        border-bottom: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE;
            border-left: 1px solid #EEEEEE;
}

.portfolio-section {

}



.profession-employee {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-contact-item:not(:last-child) {
    margin-bottom: 9px;
}



.contact-icon {
    margin-right: 10px;
    fill: #757575;
   
}








.icon-antenna,
.icon-clock,
.icon-computer,
.icon-astronaut

{
    border-radius: 4px;
    display: flex;
    background-color: #F5F4FA;
align-items: center;
justify-content: center;

height: 120px;
margin-bottom: 30px;
}


.cosial-media {

        display: flex;
        justify-content: center;
            align-items: center;
  
    }








.svg-instagram,
.svg-twitter,
.svg-facebook,
.svg-linkedin
{
    fill: #AFB1B8;
}

.footer .svg-instagram,
.footer .svg-twitter,
.footer .svg-facebook,
.footer .svg-linkedin {
    fill: #FFFFFF;
}

.client-item {
 width: calc(100% / 6 - 30px);
}



.link-brands {
    justify-content: center;
        align-items: center;
    display: flex;

   width: 100%;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
}


.footer-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
    margin-top: 0px;
}

   .footer-container {
 align-items: baseline;
    
    display: flex;
   }

.wrap-link {
    display: flex;
    flex-direction: column;
}


.wrap-link:hover, .wrap-link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-media {
    display: flex;
        justify-content: center;

}



.social-media2:not(:last-child) {
    margin-right: 10px;
}

.link-instagram,
.link-twitter,
.link-facebook,
.link-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}


.link-instagram:hover,
.link-instagram:focus,
.link-twitter:hover,
.link-twitter:focus,
.link-facebook:hover,
.link-facebook:focus,
.link-linkedin:hover,
.link-linkedin:focus {
    background-color: #2196F3;
}

.link-instagram:hover .svg-instagram,
.link-twitter:hover .svg-twitter,
.link-facebook:hover .svg-facebook,
.link-linkedin:hover .svg-linkedin,
.link-instagram:focus .svg-instagram,
.link-twitter:focus .svg-twitter,
.link-facebook:focus .svg-facebook,
.link-linkedin:focus .svg-linkedin {
    fill: #ffffff;
}


.link-brands:hover .brands,
.link-brands:focus .brands {
fill: #2196F3;
}

.link-brands:hover,
.link-brands:focus {
    border: 1px solid #2196F3;
}


.brands {
    fill: #AFB1B8;
}

.instagram2,
.twitter2,
.linkedin2,
.facebook2 {
fill: #FFFFFF;
}

.footer-item:not(:last-child){
    margin-right: 70px;
}













/* лого шрифт Raleway вес 700*/
/* шрифт везде кроме лого Roboto  */
/* шрифт Roboto вес. Жирный 500. Мелкий 400 */
/* весь маленький текст #757575 */
/* весь жирный текст при копировании еще написано background #212121;  */
/* цвет лого синяя часть. где черная не ясно #2196F3 */
/* цвет кнопки с услугами (акцент) #2196F3 */
/* цвет футера #2F303A */
/* цвет за сотрудникам background: #F5F4FA; */
/* цвет  рядом с кнопкой услуг background: #2F303A; */